@charset "UTF-8";

.cabecalho__menu-hamburguer{
    width: 26px;
    height: 26px;
    background-image: url('../imgs/Menu.svg');
    background-repeat: repeat;
    background-position: center;
    display: inline-block;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../imgs/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}


.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 3em */
}

.container__imagem{
    padding: 0.2em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
}
@media screen and (max-width:480px){
    .lista-menu{
        left: 0px;/*faz o menu aparecer 0 pixels a esquerda*/
    }
}
/*se o botao tiver marcado aparece o menu*/
.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color:var(--laranja);
    font-weight: 700;
    /* text-transform: uppercase; */
}

.lista-menu__link {
    color:var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

/*esconde o botao de input*/
.container__botao {
    display: none;
}

/*nao aparece em telas < 1024px*/
.container__texto{
    display: none;
}

/*lista de opcoes menu hamburguer desaparece em telas < 1024px*/
.opcoes {
    display: none;
}

.container__texto{
    display: none;
}
/* layout tablet desktop*/

@media screen and (min-width: 1024px){
    .container__texto,
    .container__texto--negrito{
        font-family: var(--font-secundaria);
        font-size: 25px;
        display: inline-block;
    }
    .container__texto{
        font-weight: 400;
    }
    .container__texto--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        text-transform:uppercase;
        color: black;
    }

    .container__imagem-transparente{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }

    /*mostra ou esconde o menu com base no checked*/
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    /*esconde o botao na versão > 1024px*/
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        color: var(--branco);

    }
    .lista-menu:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}   
@media screen and (min-width: 1728px){
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }
    .container__texto{
        display: block;
    }
}
